RewriteEngine On


# Allow rewriting only if the file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"

    # Cache image formats
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/ico "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(png|jpg|jpeg|ico|webp)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
</IfModule>

# Enable Gzip Compression for all content types, including images
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
    AddOutputFilterByType DEFLATE image/jpeg image/jpg image/png image/gif image/webp image/svg+xml
    AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml application/atom+xml
    <IfModule mod_headers.c>
        Header append Vary User-Agent
    </IfModule>
</IfModule>
